Screen {
    outline: round $accent;
}

Screen {
    layout: vertical;
}

Header {
    dock: top;
}

#main-container {
    layout: horizontal;
    height: 1fr;
}

#menu {
    width: 25%;
    height: 100%;
    background: $surface;
}

#content {
    width: 1fr;
    height: 100%;
}

#validation-bar {
    dock: bottom;
    height: auto;
    padding: 0 1;
}

#validate {
    width: 100%;
}